<div id="template-iilsdl" class="">
    <textnode id="template-inwba" class="">var items = document.querySelectorAll('#template-iak8e'); for (var i =
        0, len = items.length; i
        < len; i++) { (function(){ var e,t=0,n=function(){
        var e,t=document.createElement( "void"),n={ transition: "transitionend",OTransition:
        "oTransitionEnd",MozTransition: "transitionend",WebkitTransition:
        "webkitTransitionEnd"}; for(e in n)if(void 0!==t.style[e])return n[e]} (),r=function(e){ var
        t=window.getComputedStyle(e),n=t.display,r=(t.position,t.visibility,t.height,parseInt(t[
        "max-height"])); if( "none"!==n&& "0"!==r)return e.offsetHeight; e.style.height="auto"
        ,e.style.display="block" ,e.style.position="absolute" ,e.style.visibility="hidden"
        ; var i=e.offsetHeight; return e.style.height="" ,e.style.display="" ,e.style.position=""
        ,e.style.visibility="" ,i} ,i=function(e){ t=1; var n=r(e),i=e.style; i.display="block"
        ,i.transition="max-height 0.25s ease-in-out" ,i.overflowY="hidden" , ""==i[
        "max-height"]&&(i[ "max-height"]=0),0==parseInt(i[ "max-height"])?(i[ "max-height"]="0"
        ,setTimeout(function(){ i[ "max-height"]=n+ "px"} ,10)):i[ "max-height"]="0"
        } ,a=function(r){ if(r.preventDefault(),!t){ var a=this.closest(
        "[data-gjs=navbar]"),o=a.querySelector( "[data-gjs=navbar-items]"); i(o),e||(o.addEventListener(n,function(){
        t=0; var e=o.style; 0==parseInt(e[ "max-height"])&&(e.display="" ,e[
        "max-height"]="" )} ),e=1)} }; "gjs-collapse"in this||this.addEventListener(
        "click",a),this[ "gjs-collapse"]=1 } .bind(items[i]))(); } </textnode>
</div><section id="main" class="rows ">
    <div id="template-i5iyaj" class="gjs-cell">
        <div id="template-igcy" class="gjs-row">
            <div id="template-ib6i" class="gjs-cell">
                <img id="template-iqvi" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/SvgjsG1008.png"
                class="" />
            </div>
            <div id="template-in5k" class="gjs-cell">
                <button id="template-iu3i" class="button btn btn-primary ">
                    <textnode id="template-id0py" class="">Login</textnode>
                </button>
                <button id="template-ix8h" class="button btn btn-primary ">
                    <textnode id="template-iprc5" class="">Signup</textnode>
                </button>
            </div>
        </div>
        <div id="template-i5354" class="gjs-row">
            <div id="template-i4vxf" class="gjs-cell">
                <div id="template-iab2l" class="">
                    <textnode id="template-i518l" class="">Get paid faster </textnode>
                </div>
                <div id="template-idz9yw" class="">
                    <textnode id="template-irqh7" class="">and grow your</textnode>
                </div>
                <div id="template-i89oi" class="">
                    <textnode id="template-iefqz" class="">Business</textnode>
                    <br id="template-iajof" class="">
                </div>
                <div id="template-iov3i" class="">
                    <textnode id="template-ibwhp" class="">Simple, Well-Designed, Desktop Accounting </textnode>
                </div>
                <div id="template-im47e6" class="">
                    <textnode id="template-i5w3x" class="">Software for Freelancers and Small Businesses</textnode>
                </div>
            </div>
            <div id="template-icb7j" class="gjs-cell">
                <img id="template-itd7kj" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%20620.png"
                class="" />
            </div>
        </div>
        <div id="template-izw8dv" class="gjs-row">
            <div id="template-im5jqr" class="gjs-cell">
                <div id="template-i9lrsn" class="">
                    <textnode id="template-iw8bh" class="">Almost Everything You Need</textnode>
                </div>
                <div id="template-iqezye" class="">
                    <textnode id="template-ii39f" class="">Feature packed to handle your accounting requirements.</textnode>
                </div>
            </div>
        </div>
        <div id="template-iwyp9d" class="gjs-row">
            <div id="template-ixyb4i" class="gjs-cell">
                <div id="template-imhtyn" class="gjs-row">
                    <div id="template-ih3aky" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/alInvoicing.png"
                        id="template-ixgahn" class="" />
                        <div id="template-itbfjf" class="">
                            <textnode id="template-i90qf" class="">Invoicing</textnode>
                        </div>
                        <div id="template-ipk5la" class="">
                            <textnode id="template-i0jkp" class="">Draft professional invoices and export them using customizable templates.</textnode>
                        </div>
<a id="template-ivza6e" name="link_template-ivza6e" class="">
<textnode id="template-i9qua" class="">
Learn More</textnode>
</a>

                    </div>
                    <div id="template-ixygus" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Journal%20Entries.png"
                        id="template-inva5k" class="" />
                        <div id="template-iam3fj" class="">
                            <textnode id="template-iytzl" class="">Journal Entries</textnode>
                        </div>
                        <div id="template-i9v9y8" class="">
                            <textnode id="template-iqbla" class="">Record ad-hoc accounting entries to make expense entries and balance your
                                books.</textnode>
                        </div>
<a id="template-i3cg4b" name="link_template-i3cg4b" class="">
<textnode id="template-iyp8t" class="">
Learn More</textnode>
</a>

                    </div>
                    <div id="template-ix4vwd" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/alPayments.png"
                        id="template-ib756t" class="" />
                        <div id="template-iuf3rl" class="">
                            <textnode id="template-iul7h" class="">Payments</textnode>
                        </div>
                        <div id="template-i7y5mm" class="">
                            <textnode id="template-ikpfk" class="">Record the transfer of funds from your customers, or to your suppliers.</textnode>
                        </div>
<a id="template-ih1iaz" name="link_template-ih1iaz" class="">
<textnode id="template-i1syc" class="">
Learn More</textnode>
</a>

                    </div>
                </div>
                <div id="template-itavy4" class="gjs-row">
                    <div id="template-i4ujo6" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Discounts.png"
                        id="template-iydwlg" class="" />
                        <div id="template-i57a41" class="">
                            <textnode id="template-iio8s" class="">Discounts</textnode>
                        </div>
                        <div id="template-imcc8l" class="">
                            <textnode id="template-iyml1" class="">Apply item-wise discounts to your invoices and track them using separate
                                discount accounts.</textnode>
                        </div>
<a id="template-ifmczs" name="link_template-ifmczs" class="">
<textnode id="template-iqdxk" class="">
Learn More</textnode>
</a>

                    </div>
                    <div id="template-irae7c" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/alReports.png"
                        id="template-if8a8b" class="" />
                        <div id="template-iyc8dt" class="">
                            <textnode id="template-iscd9" class="">Reports</textnode>
                        </div>
                        <div id="template-igxkkb" class="">
                            <textnode id="template-iyn38" class="">Keep track of your business' health using financial reports such as profit
                                and loss, and balance sheet.</textnode>
                        </div>
<a id="template-igf2ok" name="link_template-igf2ok" class="">
<textnode id="template-ieooz" class="">
Learn More</textnode>
</a>

                    </div>
                    <div id="template-iv68cw" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/alQuick%20Search.png"
                        id="template-i60b4a" class="" />
                        <div id="template-ixiduk" class="">
                            <textnode id="template-ioz2pa" class="">Quick Search</textnode>
                        </div>
                        <div id="template-ikix0e" class="">
                            <textnode id="template-i4j0k8" class="">Instantly find what you are looking for within nine keystrokes.</textnode>
                        </div>
<a id="template-icz1ey" name="link_template-icz1ey" class="">
<textnode id="template-ic66ta" class="">
Learn More</textnode>
</a>

                    </div>
                </div>
                <div id="template-itp7vx" class="gjs-row">
                    <div id="template-iv3bgt" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Data%20Import.png"
                        id="template-iabv1b" class="" />
                        <div id="template-ijmalv" class="">
                            <textnode id="template-ikk5lv" class="">Data Import</textnode>
                        </div>
                        <div id="template-ilqd5v" class="">
                            <textnode id="template-is1nmi" class="">Import business data from other accounting software with ease using csv
                                templates.</textnode>
                        </div>
<a id="template-izho4w" name="link_template-izho4w" class="">
<textnode id="template-ikruu7" class="">
Learn More</textnode>
</a>

                    </div>
                    <div id="template-i9srmt" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Group%20942.png"
                        id="template-iqs943" class="" />
                        <div id="template-ivc0rc" class="">
                            <textnode id="template-izvcn9" class="">Multi Currency Invoicing</textnode>
                        </div>
                        <div id="template-ikjzng" class="">
                            <textnode id="template-iwl4kw" class="">Create and export invoices in your customer's currency.</textnode>
                        </div>
<a id="template-ipokoe" name="link_template-ipokoe" class="">
<textnode id="template-iz8px8" class="">
Learn More</textnode>
</a>

                    </div>
                    <div id="template-i0jd7y" class="gjs-cell">
                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Inventory%20Management.png"
                        id="template-if4eya" class="" />
                        <div id="template-i4homk" class="">
                            <textnode id="template-isonl3" class="">Inventory Management</textnode>
                        </div>
                        <div id="template-iojvum" class="">
                            <textnode id="template-idphrk" class="">Track and manage the flow of items and their valuation.</textnode>
                        </div>
<a id="template-i4vro7" name="link_template-i4vro7" class="">
<textnode id="template-i2jiy2" class="">
Learn More</textnode>
</a>

                    </div>
                </div>
            </div>
        </div>
        <div id="template-id6x33" class="gjs-row">
            <div id="template-icc9j6" class="gjs-cell">
                <div id="template-iuogiw" class="gjs-row">
                    <div id="template-ikh81v" class="gjs-cell">
                        <div id="template-ipscez" class="">
                            <textnode id="template-ifsm25" class="">Simple And Beautiful</textnode>
                        </div>
                        <div id="template-i6e1tf" class="">
                            <textnode id="template-icpnfg" class="">An intuitive interface you will love using</textnode>
                        </div>
                    </div>
                </div>
                <div id="template-iiu6fe" class="gjs-row">
                    <div id="template-ihg6fk" class="gjs-cell">
                        <div id="template-ibdwni" class="gjs-row">
                            <div id="template-ib8qsr" class="gjs-cell">
                                <div id="template-ih3107" class="gjs-row">
                                    <div id="template-ih28y1" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Invoicing.png"
                                        id="template-in06mx" class="" />
                                    </div>
                                </div>
                                <div id="template-itzslh" class="">
                                    <textnode id="template-i06tb5" class="">Invoicing</textnode>
                                </div>
                            </div>
                            <div id="template-ila50n" class="gjs-cell">
                                <div id="template-inaa0h" class="gjs-row">
                                    <div id="template-igu6nq" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Payments.png"
                                        id="template-i5cjfk" class="" />
                                    </div>
                                </div>
                                <div id="template-isk86c" class="">
                                    <textnode id="template-i14wpj" class="">Payments</textnode>
                                </div>
                            </div>
                            <div id="template-i02wwu" class="gjs-cell">
                                <div id="template-i8xskx" class="gjs-row">
                                    <div id="template-i5i8yw" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Ledger.png"
                                        id="template-i4h7qu" class="" />
                                    </div>
                                </div>
                                <div id="template-ij9872" class="">
                                    <textnode id="template-ililr2" class="">Ledger</textnode>
                                </div>
                            </div>
                            <div id="template-i7urb8" class="gjs-cell">
                                <div id="template-i92vok" class="gjs-row">
                                    <div id="template-isbjrz" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Reports.png"
                                        id="template-iweiv7" class="" />
                                    </div>
                                </div>
                                <div id="template-iyn5gg" class="">
                                    <textnode id="template-izclqv" class="">Reports</textnode>
                                </div>
                            </div>
                            <div id="template-ie7r8g" class="gjs-cell">
                                <div id="template-ira8ci" class="gjs-row">
                                    <div id="template-imrc8a" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Quick%20Search.png"
                                        id="template-ia4h8h" class="" />
                                    </div>
                                </div>
                                <div id="template-i47kvy" class="">
                                    <textnode id="template-itwooj" class="">Quick Search</textnode>
                                </div>
                            </div>
                            <div id="template-ioru1f" class="gjs-cell">
                                <div id="template-igqzrx" class="gjs-row">
                                    <div id="template-i8oij9" class="gjs-cell">
                                        <img src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/Customizable.png"
                                        id="template-ixgluo" class="" />
                                    </div>
                                </div>
                                <div id="template-i5gizi" class="">
                                    <textnode id="template-i1p92h" class="">Customizable</textnode>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="template-isit6s" class="gjs-cell">
                        <img id="template-i5ub0v" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/dash%20board.png"
                        class="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-idysi1" class="gjs-row">
            <div id="template-inm53x" class="gjs-cell">
                <div id="template-iud7ue" class="gjs-row">
                    <div id="template-injr1i" class="gjs-cell">
                        <div id="template-ia1ol8" class="">
                            <textnode id="template-i86p4n" class="">Built On Principles</textnode>
                        </div>
                        <div id="template-iw0oeg" class="">
                            <textnode id="template-i5uqbg" class="">Why 10decoders books stands apart</textnode>
                        </div>
                    </div>
                </div>
                <div id="template-ilt8lw" class="gjs-row">
                    <div id="template-idav3k" class="gjs-cell">
                        <div id="template-i866fe" class="">
                            <textnode id="template-inh5tj" class="">Why 10decoders books stands apart</textnode>
                        </div>
                        <div id="template-iuwgm8" class="">
                            <textnode id="template-ivdxgy" class="">Draft professional invoices and export them using customizable templates.</textnode>
                        </div>
                        <img id="template-ikn3gw" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                        class="" />
                    </div>
                    <div id="template-iqd77r" class="gjs-cell">
                        <div id="template-ivh91h" class="">
                            <textnode id="template-izizca" class="">No Cloud</textnode>
                        </div>
                        <div id="template-i96q9k" class="">
                            <textnode id="template-i4d4sh" class="">Record ad-hoc accounting entries to make expense entries and balance your
                                books.</textnode>
                        </div>
                        <img id="template-iugny3" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                        class="" />
                    </div>
                </div>
                <div id="template-iw5syb" class="gjs-row">
                    <div id="template-iwe14g" class="gjs-cell">
                        <div id="template-iabm7p" class="">
                            <textnode id="template-igxp6k" class="">Privacy</textnode>
                        </div>
                        <div id="template-ifm4ha" class="">
                            <textnode id="template-inoavo" class="">Apply item-wise discounts to your invoices and track them using separate
                                discount accounts.</textnode>
                        </div>
                        <img id="template-iguzaf" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                        class="" />
                    </div>
                    <div id="template-iytd57" class="gjs-cell">
                        <div id="template-i3tnwf" class="">
                            <textnode id="template-i0q2sk" class="">Free And Open Source</textnode>
                        </div>
                        <div id="template-in7q0y" class="">
                            <textnode id="template-iuhznb" class="">Keep track of your business' health using financial reports such as profit
                                and loss, and balance sheet.</textnode>
                        </div>
                        <img id="template-iwknui" src="https://grapesjs-images.s3.amazonaws.com/grapesjsimages/arrow.png"
                        class="" />
                    </div>
                </div>
            </div>
        </div>
        <div id="template-i2mkhh" class="gjs-row">
            <div id="template-i8ymtx" class="gjs-cell">
                <div id="template-izjin5" class="gjs-row">
                    <div id="template-i4ai3b" class="gjs-cell">
                        <div id="template-itr1db" class="">
                            <textnode id="template-ixdrlg" class="">10Decoders Books For Free Now</textnode>
                        </div>
                        <div id="template-iae45j" class="">
                            <textnode id="template-iuwzwv" class="">10Decoders books simplifies invoicing, billing, and accounting for </textnode>
                        </div>
                        <div id="template-i1m5vn" class="">
                            <textnode id="template-ikr0hz" class="">freelancers and small business owners.</textnode>
                        </div>
                    </div>
                </div>
                <div id="template-i1znre" class="gjs-row">
                    <div id="template-ilpjas" class="gjs-cell">
                        <button id="template-i4d7h6" class="button btn btn-primary ">
                            <textnode id="template-ivw4qx" class="">Login</textnode>
                        </button>
                        <button id="template-ixhf85" class="button btn btn-primary ">
                            <textnode id="template-itccga" class="">Signup</textnode>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>